---
import NavBar from "./NavBar.astro";
import Hero from "./Hero.astro";
---

<header class="bg-[url('../banner-bg.png')] bg-cover bg-no-repeat bg-top">
    <div class="container mx-auto ">
        <NavBar/>
        <Hero/>
    </div>
</header>
