---
import NavBar from "./NavBar.astro";
import Hero from "./Hero.astro";
---

<header >
    <div class="container mx-auto">
        <NavBar/>
        <Hero/>
    </div>
</header>

<style>
    header{
        background-image: url(../assets/img/banner-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
</style>