---
import { Image } from 'astro:assets';
import imagenProyecto from '../assets/img/548shots_so.png'
---

<section class="relative bg-[#101010] pb-16">
    <div class="container mx-auto ">
        <div class="flex flex-col items-center ">
            <div class="proyectos-box bg-[#151515] rounded-[64px] text-center py-[60px] px-[50px] mt-[-60px]">
                <h2 class="font-bold text-5xl pb-5">Proyectos</h2>
                <p class="font-semibold text-lg tracking-wide leading-6 mt-3.5 mb-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, unde.
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, Lorem ipsum dolor sit amet consectetur.
                </p>                
                <div class="contenedor-proyectos flex gap-5">
                    <div>
                        <Image class='rounded-md max-w-xs' src={imagenProyecto} alt='Imagen sobre el primer proyecto'/>
                        <a class="block w-4/5 mx-auto mt-8 p-2.5 uppercase font-bold rounded bg-gradient-to-br from-pink-400 via-purple-500 to-indigo-600" href="">View proyect</a>
                    </div>
                    <div>
                        <Image class='rounded-md max-w-xs' src={imagenProyecto} alt='Imagen sobre el primer proyecto'/>  
                        <a class="block w-4/5 mx-auto mt-8 p-2.5 uppercase font-bold rounded bg-gradient-to-br from-pink-400 via-purple-500 to-indigo-600" href="">View proyect</a>                     
                    </div>
                    <div>
                        <Image class='rounded-md max-w-xs' src={imagenProyecto} alt='Imagen sobre el primer proyecto'/>
                        <a class="block w-4/5 mx-auto mt-8 p-2.5 uppercase font-bold rounded bg-gradient-to-br from-pink-400 via-purple-500 to-indigo-600" href="">View proyect</a>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</section>
